<!DOCTYPE html>
<html lang="en">

 <!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8" />
    <title>Campmart admin | new blog</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/theme.css" />
    <link rel="stylesheet" href="assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="assets/plugins/wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css" />
    <link rel="stylesheet" href="assets/css/Markdown.Editor.hack.css" />
    <link rel="stylesheet" href="assets/plugins/CLEditor1_4_3/jquery.cleditor.css" />
    <link rel="stylesheet" href="assets/css/jquery.cleditor-hack.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-wysihtml5-hack.css" />
    <style>
        ul.wysihtml5-toolbar > li {
            position: relative;
        }
    </style>
</head>
     <!-- END HEAD -->

     <!-- BEGIN BODY -->
<body class="padTop53">

    <!-- MAIN WRAPPER -->
    <div id="wrap">

       <!--PAGE CONTENT -->
        <div id="content">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box">
                            <header>
                                <h5>Markdown Editor</h5>
                                <ul class="nav nav-tabs pull-right">
                                    <li class="active"><a href="#markdown" data-toggle="tab">Markdown</a></li>
                                    <li><a href="#preview" data-toggle="tab">Preview</a></li>
                                </ul>
                            </header>
                            <div id="div-3" class="body tab-content">
                                <div class="tab-pane fade active in" id="markdown">
                                    <div class="wmd-panel">
                                        <div id="wmd-button-bar" class="btn-toolbar"></div>
                                        <form method="post">
                                            <textarea class="form-control wmd-input" rows="10" name="description" id="wmd-input">
**Demo Text**
                                            </textarea>
                                            <div class="form-actions no-margin-bottom" id="Div1">
                                                <br />
                                                <input type="submit" value="Submit" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="preview">
                                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{if .}}
                <div class="row">
                    <p>

                    </p>
                </div>
                {{end}}
            </div>
        </div>
         <!--END PAGE CONTENT -->
    </div>

    <!--END MAIN WRAPPER -->

   <!-- FOOTER -->
    <div id="footer">
        <p>&copy;  campmart &nbsp;2022 &nbsp;</p>
    </div>
    <!--END FOOTER -->


     <!-- GLOBAL SCRIPTS -->
    <script src="assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->

         <!-- PAGE LEVEL SCRIPTS -->
    <script src="assets/plugins/wysihtml5/lib/js/wysihtml5-0.3.0.min.js"></script>
    <script src="assets/plugins/bootstrap-wysihtml5-hack.js"></script>
    <script src="assets/plugins/CLEditor1_4_3/jquery.cleditor.min.js"></script>
    <script src="assets/plugins/pagedown/Markdown.Converter.js"></script>
    <script src="assets/plugins/pagedown/Markdown.Sanitizer.js"></script>
    <script src="assets/plugins/Markdown.Editor-hack.js"></script>
    <script src="assets/js/editorInit.js"></script>
    <script>
        $(function () { formWysiwyg(); });
    </script>

     <!--END PAGE LEVEL SCRIPTS -->

</body>
     <!-- END BODY -->
</html>
